@if(headline()) {
<div class="max-w-sm rounded overflow-hidden shadow-lg w-3xl h-max pb-4">
  <img class="w-full h-64" [src]="headline()?.urlToImage" alt="News Image" />
  <!-- date span -->
  <div class="px-6 py-4">
    <div>
      <span
        class="inline-block text-sm font-semibold text-gray-700 mr-2 italic"
      >
        {{ headline()?.author }}
      </span>
      <span class="inline-block text-sm font-semibold text-gray-700 mr-2"
        >|</span
      >
      <span class="inline-block text-sm font-semibold text-gray-700 mb-2">
        {{ headline()?.publishedAt | date }}</span
      >
    </div>
    <div class="font-bold text-xl mb-2">{{ headline()?.title }}</div>
    <p class="text-gray-700 text-base">
      {{ headline()?.description }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2 flex flex-row justify-between">
    <a
      [routerLink]="['/article', headline()?.title]"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Read More
    </a>
  </div>
</div>

} @else {
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="animate-pulse flex space-x-4">
      <div class="rounded-full bg-gray-300 h-12 w-12"></div>
      <div class="flex-1 space-y-4 py-1">
        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
        <div class="space-y-2">
          <div class="h-4 bg-gray-300 rounded"></div>
          <div class="h-4 bg-gray-300 rounded w-5/6"></div>
        </div>
      </div>
    </div>
  </div>
</div>

}
