/* You can add global styles to this file, and also import other style files */

/* font faces into public/fonts/Opne_Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/Open_Sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/Open_Sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Liter";
  src: url("../public/fonts/Liter/Liter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";
