<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a routerLink="/home">
        <img src="assets/news-flat.avif" alt="Logo" />
      </a>
    </div>
    <ul class="header__nav">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</header>
