<header class="bg-gray-800 text-white p-4  w-full">
  <div class="container mx-auto flex justify-between items-center h-18">
    <div class="flex items-center">
      <a routerLink="/home">
        <img src="assets/news-flat.avif" alt="Logo" class="h-8" />
      </a>
    </div>
    <ul class="flex space-x-4">
      <li>
        <a
          routerLink="/top-headlines"
          routerLinkActive="active"
          class="hover:text-gray-400"
          >Top Headlines</a
        >
      </li>
      <li>
        <a
          routerLink="/topic-headlines"
          routerLinkActive="active"
          class="hover:text-gray-400"
          >Topic Headlines</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          class="hover:text-gray-400"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</header>
